# .gitignore

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Kubernetes / Local Cluster temp files
kubeconfig
*.kubeconfig
.helm/

# Any local test scripts or logs
*.log

# Null-ls nonsense 
.null-ls*
